.screenW {
    width: 100%;
}

.fullW {
    width: 100%;
}

.screenH {
    height: 100%;
}

.fullH {
    height: 100%;
}

.height70 {
    height: 70px;
}

.imgCover {
    object-fit: cover;
}

.transition1l {
    transition: left 1s ease-in-out;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}

.left0 {
    left: 0px;
}

.left100 {
    left: 100%;
}

.leftM100 {
    left: -100%;
}